# Dependencies
node_modules

# Environment
.env
.env.local
.env.production

# Build
dist
.next

# System
.DS_Store
Thumbs.db
*.log

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Prisma
server/prisma/migrations